#
# In any directory
#
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Debug
Release
MinSizeRel
RelWithDebInfo
*.sln
*.ncb
*.suo
*.vcproj*
*.vcxproj*
*.user
*.dir
*.a
*.exe
*.deb
*.dmg
*.zip
*.bz2
*.cmake
GPlates_log.txt
__pycache__/

#
# /
#
/build*/
/INSTALL
/gmon.out
/_CPack_Packages/
/bin/
/install_manifest*.txt
/.vs*
/*.log

#
# /cmake/modules/
#
# Exception to '*.cmake' above...
!/cmake/modules/*.cmake
# ...except for CMake generated...
/cmake/modules/PackageGeneratorOverrides.cmake

#
# /doc/
#
/doc/doxygen.conf
/doc/html
/doc/*.tmp
/doc/*.eps
/doc/*.png

#
# /src/
#
# CMake generated...
# Note: the pygplates package files ('__init__.py', '__init__.pyi', 'py.typed') are generated into
#       '/bin/' (beside the built pygplates library), which is already ignored above.
/src/gplates.entitlements
/src/qt.conf
/src/global/License.cc
/src/global/Version.cc
/src/global/config.h

# Python sdist/wheel building.
/dist/
/wheelhouse/

# Docker.
/pygplates/wheel/*.bz2
/pygplates/wheel/*.gz
/pygplates/wheel/*.xz
