Source: gplates
Maintainer: David Symonds <ds@geosci.usyd.edu.au>
Standards-Version: 3.1.1.1

Package: gplates
Section: science
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Description: An interactive tectonic plate reconstruction tool
 GPlates provides interactive plate tectonic reconstructions.
 It is designed to enable students of earth sciences to manipulate plates on
 the surface of the globe and create reconstructions of likely plate positions
 in the past. It will also provide researchers in the earth sciences field with
 a powerful tool to combine various types of data, such as point, line and
 gridded data, and simulate the changes in this data over time.
 .
 
