#!/usr/bin/make -f
#
# Rules for making GPlates
#
SHELL=/bin/bash
CC = gcc

do_cfg:
	test -f Makefile || ./configure

build:	do_cfg
	make
	strip src/gplates

binary:	binary-arch binary-indep

binary-arch:	checkroot build
	-rm -rf debian/tmp

	install -d -m 755 -o root -g root debian/tmp/DEBIAN

	install -d -m 755 -o root -g root debian/tmp/usr/bin
	install -d -m 755 -o root -g root debian/tmp/usr/share/doc/gplates

	install -s -m 755 -o root -g root src/gplates debian/tmp/usr/bin

	#install -m 644 -o root -g root \
	#	ChangeLog debian/tmp/usr/share/doc/gplates/cvs-changelog
	#gzip -9 debian/tmp/usr/share/doc/gplates/cvs-changelog
	install -m 644 -o root -g root \
		README debian/tmp/usr/share/doc/gplates
	install -m 644 -o root -g root \
		debian/copyright debian/tmp/usr/share/doc/gplates/copyright

	dpkg-shlibdeps src/gplates
	dpkg-gencontrol -isp

	dpkg -z9 --build debian/tmp .

binary-indep:

clean:	do_cfg
	-rm -rf debian/tmp
	-rm -f debian/{files,substvars}
	test -f Makefile && make clean
	-rm -f Makefile

checkroot:
	test root = "`whoami`"


.PHONY: do_cfg build binary clean checkroot
